.container{
    display: grid;
    margin-left:10rem;
    grid-template-columns: auto auto auto;
    gap: 3px;
}
.frameVideo,.frameShorts{
    margin-top: 20px;
    border-radius: 15px;
    border-style: hidden;
}
.Shorttitle{
    width: 250px;
}
.videotitle{
    width:380px;
}
.shortsContainer{
    display: flex;
    gap: 20px;
    margin-left: 10rem;
}
.right {
    margin-top: 100px;
    width: 90%; 
    float:right
  }
  .left {
    margin-top: 100px;
    width: 5%; 
    float:left;
  }
  .total-grid{
    width:100%;
  }
.home-button,.like-button,.play-list-button,.watchlater-button,.history-button,.shorts-button,.subs-button,.download-button{
  background-color: white;
  border:none;
  width:200px;
  display:flex;
  font-size:medium;
  font-weight:300px;
  margin-bottom: 20px;
  
}
.home-button,.shorts-button,.subs-button,.like-button,.watchlater-button,.play-list-button,.history-button,.download-button:hover{
  cursor: pointer;
}
 
.home,.like,.playlist,.watchlater,.history,.download{
  margin-left: 5px;
}
.side-1,.side-2{
  height:130px;
  border-bottom: 2px solid lightgrey;
  width:200px;
}
.side-2{
  margin-top:40px;
  height:250px;
}
  
.left-bar{
  margin-top: 50pxs;
  padding-top: 10px;
  border: solid white 3px;
  width:17rem;
  position:fixed;
}