body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}
.top-bar{
    
    height:20%;
    background-color: white;
}
.Top{
    background-color: white;
    display:flex;
    margin-left: 2rem;
    margin-right: 1px;
    position: fixed;

}
#side-bar-icon,#mic-icon,#login-icon{
    margin-top: 10px;
    width:20px;
    height:20px;
    margin-left: 20px;
    margin-right: 30px;
}
#search-bar{
    margin-left: 20rem;
    width:80vh;
    height: 35px;
    border-color:darkgray;
    border-radius: 20px;
}
#youtube-logo{
    margin-right: 10px;
    margin-top: 5px;
    width:30px;
    height:30px;
}
#create-button{
    margin-top: 5px;
    width:5rem;
    margin-left:10rem;
    border-radius: 15px;
    height:30px;
}
#create-button:hover{
    cursor:pointer;
}
span{
    font-size:x-large;
    margin-top: 5px;
    font-weight: bolder;
}
.buttons{
    width: 100%;
    background-color: white;
    position: fixed;
    display:flex;
    margin-right: 1px;
    margin-top: 40px;
    margin-left: 20rem;
    align-items: center;
    
}
.button{
    padding: 7px;
    border-radius: 20px;
    font-size:smaller;
    font-weight: bold;
    margin:20px 40px 20px 20px;
}
.button:hover{
    cursor: pointer;
}


@media (max-width: 768px) {

    .button {
      width: 100%; /* Buttons adjust to smaller screens */
    }
  }

  
     
